<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Noah is a Director of Photography based in Florida. 
          For over seven years, he's focused on creating compelling visual content for diverse clients including venture capital firms, non-profits, and schools. 
          His work captures powerful moments and has been featured locally on TV and across social media platforms. </p>
      </div>
      <div class="col-lg-4">
        <p>He specalizes in event production capturing the emotions and highlights of a day and presenting it in a consice and beautiful way.
          Beyond operating cameras, Noah brings versatility to production.
          From running cables and operating cameras, to directing a live broadcast, Noah can handle it all to turn your vision into reality.
        </p>
      </div>
<!--    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div> -->  
  </div>
</section>
